{% extends "main.html" %}

{% block content %}
<div class="">
    <form class="pt-8 px-8 lg:px-32 xl:px-64 mx-auto" method="POST">
        {% csrf_token %}

        <label for="base-input" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Subject</label>
        {{form.title}}
        <br>
        <label for="body" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Your Post</label>
        {{form.body}}
        <br>
        <div class="text-center">
            <input class="text-white focus:ring-4 focus:outline-none text-lg font-medium rounded-lg w-full sm:w-auto px-10 py-5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 mx-auto" type="submit" value="Post">
        </div>
 


    </form>
</div>

{% include "recaptcha_script.html" %}
{% endblock content %}