{% extends "main.html" %}

{% block content %}


<div class="">
    <br>
    <div class="container text-center flex justify-around mx-auto md:px-16">
    <!--    
        <div>
            <a class="md:inline-block md:align-middle p-3 mx-auto rounded bg-teal-800 text-slate-200 hover:bg-teal-500 hover:text-slate-800" href="?next={{request.path}}">New Topic</a>
        </div>    
        
    -->
        <div>
            <a class="md:inline-block md:align-middle p-3 mx-auto rounded bg-blue-800 text-slate-200 hover:bg-blue-500 hover:text-slate-800" href="{% url "create-forum-post" %}?next={{request.path}}">Post Forum</a>
        </div>
        
    </div>
    <br>
    <table class="table-auto border border-slate-500 mx-auto max-w-7xl">
        <thead class="bg-slate-700 text-slate-200">
            <th class="border border-slate-500">Username</th>
            <th class="border border-slate-500">Topic</th>
            <th class="border border-slate-500"></th>
            <th class="border border-slate-500">Posted</th>
        </thead>
        <tbody>

            {% if posts %}
            {% for post in posts %}
        
            <tr class="odd:bg-slate-800 odd:text-slate-300 even:bg-slate-700 even:text-slate-200">
                <td class="border border-slate-500 py-4">
                    {{post.username}}
                </td>
                <td class="border border-slate-500 py-4">
                    {{post.title}}
                </td>
                <td class="border border-slate-500 py-4 px-2">
                    <a href="{% url "view-post" post.id %}">{{post.body|truncatechars:300}}</a>
                    
                </td>
                <td class="border border-slate-500 py-4">
                    {{post.created|date:"M d, Y"}}
                </td>
         
            </tr>
            
            {% endfor %}
            {% else %}
                <p class="text-xl text-slate-300">There are no posts to show. Please create a post.</p>
            {% endif %}

        </tbody>

    </table>
</div>


{% endblock content %}