{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto text-slate-400">
    <div class="text-lg">
        <p>Submitted by</p>
        {{post.username}}
    </div>
    <div class="text-lg">
        {{post.fname}}
        {{post.lname}}
    </div>
    <br>
    <div class="text-2xl">
        {{post.title}}
    </div>
    <hr>
    <br>
    <div class="text-lg">
        {{post.body}}
    </div>


<!-- display comment form for the post -->
<form method="POST" action="{% url "comment" post.id %}">
    {% csrf_token %}
    <div class="relative">
        {{ form.text }}
        <input class="absolute bottom-0 left-0 text-slate-900 p-3 hover:underline hover:text-blue-800" type="submit" value="Comment">
    </div>
</form>

    <!--Displays comments-->
    <div class="relative">
        {% for node in comment_tree %}
        <!-- display comment here -->
        <div class="bg-slate-900 rounded-lg p-1 mx-auto container">
            <div>
                {{node.comment.username}}
            </div>
            <div>
                {{node.comment.text|linebreaksbr}}
            </div>

            <!-- display reply button with unique id -->
            <button id="reply-button-{{ node.comment.id }}" class="bg-transparent hover:underline p-2 text-slate-600 hover:text-slate-400" onclick="showReplyForm('{{ node.comment.id }}')">Reply</button>
            <!-- display reply form here -->
            <form id="reply-form-{{node.comment.id}}" method="POST" action="{% url "reply" post.id node.comment.id %}" style="display: none;">
                <div class="relative">
                    {% csrf_token %}
                    {{ form.text }}
                    <input class="absolute bottom-0 left-0 text-slate-900 p-3 hover:underline hover:text-blue-800" type="submit" value="Comment">
                </div>

            </form> 
            <div class="replies static">
                {% include 'forum/replies.html' with comment_tree=node.replies %}
            </div>
            {% endfor %}
        </div>
    </div>



</div>


<script>
    function showReplyForm(commentId) {
        // Hide all reply forms
        var forms = document.getElementsByTagName('form');
        for (var i = 0; i < forms.length; i++) {
            if (forms[i].id.startsWith('reply-form-')) {
                forms[i].style.display = 'none';
            }
        }
    
        // Show all reply buttons
        var buttons = document.getElementsByTagName('button');
        for (var i = 0; i < buttons.length; i++) {
            if (buttons[i].id.startsWith('reply-button-')) {
                buttons[i].style.display = 'block';
            }
        }
    
        // Show the reply form for the clicked reply button
        document.getElementById('reply-form-' + commentId).style.display = 'block';
        // Hide the clicked reply button
        document.getElementById('reply-button-' + commentId).style.display = 'none';
    }
    
    
</script>
    


{% endblock content %}