{% extends "main.html" %}
{% load static %}

{% block content %}


<div class="bg-gradient-to-t from-blue-900 to-slate-800 min-h-screen text-slate-500 pt-20 px-5">
	<form id="recaptcha-form" method="POST" class="max-w-md mx-auto">
		{% csrf_token %}
		<div class="relative z-0 w-full mb-5 group">
			<input type="text" name="username" id="floating_username" class="block py-2.5 px-0 w-full text-sm text-slate-400 focus:text-slate-300 bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
			<label for="floating_username" class="peer-focus:font-medium absolute duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
		</div>
		<div class="relative z-0 w-full mb-5 group">
			<input type="password" name="password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-slate-400 focus:text-slate-300 bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
			<label for="floating_password" class="peer-focus:font-medium absolute duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
		</div>

		<div class="flex justify-around">
			<input class="p-2 rounded hover:bg-blue-500 hover:text-slate-900" type="submit" value="Log In">

			<a class=" p-2 rounded hover:bg-teal-500 hover:text-slate-700" href="{% url "reset_password" %}">Reset Password</a>
		</div> 

		<div class="text-center mt-6">
			<a href="{% url "register-account" %}" class="p-2 rounded text-slate-400 hover:bg-teal-500 hover:text-slate-700">Create New Account</a>
		</div>

		{{form.captcha}}
			
	  </form>
	
	
</div>

{% include "recaptcha_script.html" %}
 
    
{% endblock content %}





  