{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="px-5">
    <form id="recaptcha-form" method="POST" class="max-w-md mx-auto pt-16" action="{% url "register-account" %}">
        {% csrf_token %}
        
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                {{form.first_name}}
                <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {{form.last_name}}
                <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
            </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{form.username}}
            <label for="floating_username" class="p0.00004349eer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{form.email}}
            <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{form.password1}}
            <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{form.password2}}
            <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm password</label>
        </div>
        <div class="container flex justify-around">
            <div>
                <input class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800" type="submit" value="Submit">
            </div>
            <div class="my-auto">
                
                <a class="text-slate-400 text-sm hover:text-blue-400" href="{% url "login" %}">Already have an account?</a>
            </div>

        </div>
        

        <input type="hidden" name="g-recaptcha_response" id="recaptchaResponse">
        <div class="flex justify-center mt-6">
            <div class="g-recaptcha" data-sitekey="6LcPVqEpAAAAAGTH-85NMF-pN_MVbFYwuDfJ0qJu"></div>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </div>
    </form>

    <div class="text-slate-300 max-w-sm mx-auto pt-10">
        <p>Do to security, only the following email domains will be accepted to register.</p>
        <br>
        <ul class="text-slate-200">
            <li>gmail.com</li>
            <li>yahoo.com</li>
            <li>hotmail.com</li>
            <li>outlook.com</li>
            <li>aol.com</li>
            <li>icloud.com</li>
        </ul>
    </div>
</div>



{% endblock content %}