{% extends "main.html" %}

{% block content %}

<div class="max-w-3xl mx-auto mt-12 bg-blue-700 px-6 py-4 rounded-2xl text-center">
    <p class="text-cyan-300 text-3xl">Success!</p>
    <br>
    <p class="text-cyan-400 text-lg">You are now registered to Brian Lindsay's portfolio page. Thank you for taking a look at my work. Feel free to browse and click around. Please be mindful, this site is under constant construction.</p>
    <br>
    <p class="text-cyan-400 text-lg">If you have any questions or wish to contact me, please email me at <a class="text-cyan-200">me@brian-lindsay.com</a></p>
    <br>
    <a class="shadow text-lg text-blue-900 bg-green-400 shadow shadow-lg px-4 py-2 rounded-3xl" href="{% url "login" %}">Login Here</a>
</div>

{% endblock content %}