{% extends "main.html" %}

{% block content %}

<!-- Resume Section-->
<form class="pt-8 lg:px-32 mx-auto px-16 lg:px-32 xl:px-64" method="POST">
    {% csrf_token %}
    <div class="text-center my-8">
        <span class="px-4 text-blue-700 font-medium text-2xl">Edit Resume</span>
    </div>
    {{ form.as_p }}
    <div class="flex justify-center my-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update</button>
    </div>
</form>

<div class="pt-8 lg:px-32 xl:px-64 mx-auto px-6 text-blue-300">
    <div class="text-center">
        <span class="text-blue-200 italic">Drag items to reorder them</span>
    </div>
    <ul>
        <!-- Experiences Section -->
        <div class="section-container">
            <div class="flex items-center my-8">
                <hr class="flex-grow border-t border-blue-300">
                <span class="px-4 text-blue-500 font-medium text-2xl">Experiences</span>
                <hr class="flex-grow border-t border-blue-300">
            </div>
            <br>
            <div class="container mx-auto" id="experiences-list">

                {% for experience in experiences %}
                    <div class="container max-w-2xl mx-auto my-4 p-2 bg-gradient-to-b from-slate-700 to-transparent rounded-xl border-t-4 border-s-8 border-rounded-xl border-cyan-600 grid grid-cols-12 gap-2">
                        <div class="col-span-8">
                            <li class="my-4" data-id="{{ experience.id }}">
                                <p>Title: {{ experience.job_title }}</p>
                                <p>Company: {{ experience.company_name }}</p>
                                <p>Start Date: {{ experience.start_date }}</p>
                                <p>End Date: {{ experience.end_date }}</p>
                                <p>Description: {{ experience.description }}</p>
                                <p>Currently Employed: {{ experience.is_current }}</p>
                            </li>
                        </div>
                        <div class="col-span-2 my-auto mx-auto">
                            <button onclick="location.href='{% url 'delete-experience' experience.id %}?next={{ request.path }}'" class="bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Edit</button>
                        </div>
                        <div class="col-span-2 my-auto mx-auto">
                            <button onclick="location.href='{% url 'delete-experience' experience.id %}?next={{ request.path }}'" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                        </div>

                    </div>
                {% endfor %}
                <div class="mx-auto">
                    <div class="text-center">
                        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-24 py-3 rounded text-2xl font-bold" href="{% url "list-experiences" resume.id %}?next={{ request.path }}">Manage Experiences</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education Section -->
        <div class="section-container">
            <div class="flex items-center my-8">
                <hr class="flex-grow border-t border-blue-300">
                <span class="px-4 text-blue-500 font-medium text-2xl">Education</span>
                <hr class="flex-grow border-t border-blue-300">
            </div>
            <br>
            <div class="container mx-auto" id="educations-list">
                <div class="mx-auto">
                    <div class="container text-center">
                        <button type="button" class="collapsible bg-blue-500 hover:bg-blue-700 text-white font-bold px-24 py-3 rounded text-2xl font-bold"> + </button>
                        <div class="content" style="display:none;">
                            {% include "resume/education_form.html" %}
                        </div>
                    </div>
                </div>
                {% for education in educations %}
                <div class="container max-w-2xl mx-auto my-4 p-2 bg-gradient-to-b from-slate-700 to-transparent rounded-xl border-t-4 border-s-8 border-rounded-xl border-cyan-600">
                    <li class="my-4" data-id="{{ education.id }}">
                        <p>{{ education.institution_name }}</p>
                        <p>{{ education.degree }}</p>
                        <p>{{ education.field_of_study }}</p>
                        <p>{{ education.start_date }}</p>
                        <p>{{ education.end_date }}</p>
                        <p>{{ education.description }}</p>
                        <button onclick="location.href='{% url 'delete-education' education.id %}?next={{ request.path }}'" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                    </li>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Skills Section -->
        <div class="section-container">
            <div class="flex items-center my-8">
                <hr class="flex-grow border-t border-blue-300">
                <span class="px-4 text-blue-500 font-medium text-2xl">Skills</span>
                <hr class="flex-grow border-t border-blue-300">
            </div>
            <br>
            <div class="container mx-auto" id="skills-list">
                <div class="mx-auto">
                    <div class="container text-center">
                        <button type="button" class="collapsible bg-blue-500 hover:bg-blue-700 text-white font-bold px-24 py-3 rounded text-2xl font-bold"> + </button>
                        <div class="content" style="display:none;">
                            {% include "resume/skill_form.html" %}
                        </div>
                    </div>
                </div>
                {% for skill in skills %}
                    <div class="container max-w-2xl mx-auto my-4 p-2 bg-gradient-to-b from-slate-700 to-transparent rounded-xl border-t-4 border-s-8 border-rounded-xl border-cyan-600">
                        <li class="my-4" data-id="{{ skill.id }}">
                            <p>{{ skill.name }}</p>
                            <p>{{ skill.proficiency }}</p>
                            <button onclick="location.href='{% url 'delete-skill' skill.id %}?next={{ request.path }}'" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                        </li>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Projects Section -->
        <div class="section-container">
            <div class="flex items-center my-8">
                <hr class="flex-grow border-t border-blue-300">
                <span class="px-4 text-blue-500 font-medium text-2xl">Projects</span>
                <hr class="flex-grow border-t border-blue-300">
            </div>
            <br>
            <div class="container mx-auto" id="projects-list">
                <div class="mx-auto">
                    <div class="container text-center">
                        <button type="button" class="collapsible bg-blue-500 hover:bg-blue-700 text-white font-bold px-24 py-3 rounded text-2xl font-bold"> + </button>
                        <div class="content" style="display:none;">
                            {% include "resume/project_form.html" %}
                        </div>
                    </div>
                </div>
                {% for project in projects %}
                    <div class="container max-w-2xl mx-auto my-4 p-2 bg-gradient-to-b from-slate-700 to-transparent rounded-xl border-t-4 border-s-8 border-rounded-xl border-cyan-600">
                        <li class="my-4" data-id="{{ project.id }}">
                            <p>{{ project.title }}</p>
                            <p>{{ project.description }}</p>
                            <p>{{ project.link }}</p>
                            <button onclick="location.href='{% url 'delete-project' project.id %}?next={{ request.path }}'" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                        </li>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Certifications Section -->
        <div class="section-container">
            <div class="flex items-center my-8">
                <hr class="flex-grow border-t border-blue-300">
                <span class="px-4 text-blue-500 font-medium text-2xl">Certifications</span>
                <hr class="flex-grow border-t border-blue-300">
            </div>
            <br>
            <div class="container mx-auto" id="certifications-list">
                <div class="mx-auto">
                    <div class="container text-center">
                        <button type="button" class="collapsible bg-blue-500 hover:bg-blue-700 text-white font-bold px-24 py-3 rounded text-2xl font-bold"> + </button>
                        <div class="content" style="display:none;">
                            {% include "resume/certification_form.html" %}
                        </div>
                    </div>
                </div>
                {% for certification in certifications %}
                    <div class="container max-w-2xl mx-auto my-4 p-2 bg-gradient-to-b from-slate-700 to-transparent rounded-xl border-t-4 border-s-8 border-rounded-xl border-cyan-600">
                        <li class="my-4" data-id="{{ certification.id }}"> 
                            <p>{{ certification.name }}</p>
                            <p>{{ certification.issuer }}</p>
                            <p>{{ certification.issue_date }}</p>
                            <p>{{ certification.expiration_date }}</p>
                            <p>{{ certification.credential_id }}</p>
                            <p>{{ certification.credential_url }}</p>
                            <button onclick="location.href='{% url 'delete-certification' certification.id %}?next={{ request.path }}'" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                        </li>
                    </div>
                {% endfor %}
            </div>
        </div>
    </ul>
</div>

{% include "resume/sortable_script.html" %}

{% endblock content %}