{% block content %}
<div class="flex items-center my-8 mx-16">
    <hr class="flex-grow border-t border-blue-100">
    <span class="px-4 text-blue-500 font-medium text-lg">Add Experience</span>
    <hr class="flex-grow border-t border-blue-100">
</div>
<form method="POST" class="mx-auto flex flex-col items-center" id="add-experience-form" action="{% url 'add-experience' resume.id %}">
    {% csrf_token %}
    <div class="w-full max-w-md">
        {{ experience_form.as_p }}
    </div>
    <div class="flex justify-center mt-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add Experience
        </button>
    </div>
</form>
{% endblock content %}

