{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto max-w-xl text-xl text-blue-400">
    <p class="my-3">Thank you for visiting my webpage. Unfortionately, I'm not finished with it. I have a lot of ideas and I'm constantly playing around with the code and trying new tricks. Please come back another time to see what else I've built!</p>
    <img src="{% static "media/underconstruction.gif" %}" alt="">
    <img src="{% static "media/underconstruction.jpeg" %}" alt="">
</div>

{% endblock content %}