{% extends "main.html" %}
{% load static %}
{% block content %}

<section class="mx-auto flex flex-col md:flex-row bg-gradient-to-b from-blue-400 to-blue-500 md:px-28">
    <div class="md:w-2/3 text-center my-auto">
        <p class="text-2xl text-blue-900">Hello there! Welcome to my web portfolio. I built this site with Django and styled it with TailwindCSS. This site will act as a digital playground for me to showcase projects and ideas. Bare in mind, this site is still under construction. Currently, the navbar is filled with dead links. The forum and Login/Register is currently working. But be advised, I clear the database every so often during development.</p>
    </div>
    <div class="md:w-1/3 sm:mx-auto md:mx-0">
        <img class="items-center rounded-b-full border-b-8 border-blue-700" src="{% static 'media/sillhouette.svg' %}" alt="">


    </div>
   
</section>

<section class="flex flex-col md:flex-row min-h-screen bg-gradient-to-t from-blue-700 to-cyan-600">
    <div class="md:w-1/3">
        <img class="object-cover h-full w-full rounded-full sm:rounded-e-full sm:rounded-s border-e-8 border-cyan-500" src="{% static 'media/brian-button-up.jpg' %}" alt="">
    </div>
    <div class="md:w-2/3 text-center my-auto py-20 px-5 md:px-10">
        <p class="text-cyan-200 text-3xl">I am currently studying Django web development and Cisco networking. Self taught and ambitious to try out new things. From here on, I will continue to develop and add to this site.</p>
    </div>
</section>

<section class="flex flex-col md:flex-row bg-gradient-to-t from-slate-400 to-blue-300 min-h-screen">

    <div class="md:w-2/3 text-center my-auto py-20 px-5 md:px-10">
        <p class="text-blue-600 text-3xl">This site is still under construction. But I hope to fill it with all sorts of bells and whistles to show off my skills. This will act as a digital resume. Just got to wire everything up first.</p>
    </div>

    <div class="md:w-1/3">
        <img class="object-cover h-full w-full mx-auto rounded-s-full border-s-8 border-blue-500" src="{% static 'media/brian-flat-cap.jpg' %}" alt="">
    </div>
</section>




{% endblock content %}