
<script src="https://www.google.com/recaptcha/api.js?render=6LfZNx0pAAAAAFUVUTW0GPhjD_hJihyjlSf9iAMB"></script>
<script>
  // 3
  grecaptcha.ready(function() {
      // 4
      $('#recaptcha-form').submit(function(e){
          var form = this;
          // 5
          e.preventDefault()
          grecaptcha.execute('6LfZNx0pAAAAAFUVUTW0GPhjD_hJihyjlSf9iAMB',).then(function(token) {
              // 6
              $('#recaptcha').val(token)
              // 7
              form.submit()
          });
      })
  });
 </script>

