{% extends 'main.html' %}

{% block content %}
<div class="container text-center mx-auto rounded-lg text-slate-200 mt-8">
    <div class="mx-auto my-3 text-blue-600">
        <h3>Password Reset</h3>
    </div>
    <div class="mx-auto my-3">
        <p>Forgot your password? Enter your email address below and we'll send you instructions on how to reset your password.</p>
    </div>

    <div class="mx-auto my-3 container max-w-lg">
        <form class="text-center" method="POST">
            {% csrf_token %}
            <div class="relative z-0 w-full mb-5 group">
                {{form}}
            </div>
            
            <br>
            <input class="mx-auto mt-3 mb-8 p-2 rounded hover:bg-blue-400 hover:text-slate-700" type="submit" value="Reset" />
        </form>
    </div>


</div>

{% include "recaptcha_script.html" %}


{% endblock content %}