{% extends 'main.html' %}

{% block content %}

<div class="container mx-auto text-slate-500 text-center max-w-lg">
    <h3 class="my-2 text-slate-300">Password Reset</h3>

    <p class="my-2">Please create a new password.</p>
    
    <form class="my-2 text-blue-500" method="POST">
        {% csrf_token %}
        {{form.errors}}
        {{form}}
        <input class="my-2 p-2 rounded hover:bg-blue-700 hover:text-slate-300" type="submit" value="Submit"/>
    </form>
</div>

{% endblock content %}